#----------------
# PlatformIO
#----------------
.pio/
.pioenvs/
.piolibdeps/

# PlatformIO Core
.platformio/

#----------------
# Python (PlatformIO uses Python under the hood)
#----------------
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyl
.venv/
venv/
env/

#----------------
# Build artifacts
#----------------
build/
dist/

#----------------
# VS Code / editors
#----------------
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.idea/
*.iml

#----------------
# OS Stuff
#----------------
.DS_Store
Thumbs.db

#----------------
# Logs and misc
#----------------
*.log

literature/